In [1]:
import pandas as pd
import datetime as dt
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
from datetime import date, timedelta, datetime
from mpg_refresh import mpg_data_creator, insight_creator
df = pd.read_csv('car_mpg_data.csv')
df = mpg_data_creator(df)
df.name = 'Car Data'

2017 Jeep Patriot Miles Per Gallon Data:
Total miles: 12933.7 miles
Total spent on gas: $1314.77
Total gallons pumped: 593.27 gallons
Miles per gallon: 21.8
Average cost of one gallon of gas: $2.22
Cost to go one mile: 10.2 cents

In [2]:
df.tail()

,miles,dollars,gallons,date,gal_cost,mpg,tank%_used,weekday,days_since_last_fillup,dollars per mile
47,255.6,18.57,11.990,2020-04-12,1.55,21.318,0.8849,Sunday,12.0,0.0727
48,288.4,17.28,12.006,2020-04-28,1.44,24.021,0.8861,Tuesday,16.0,0.0599
49,250.5,17.66,11.403,2020-05-08,1.55,21.968,0.8415,Friday,10.0,0.0705
50,273.6,18.41,11.511,2020-05-20,1.60,23.769,0.8495,Wednesday,12.0,0.0673
51,264.3,17.42,10.895,2020-05-23,1.60,24.259,0.8041,Saturday,3.0,0.0659

In [3]:
insight_creator(df)

,Time period,Miles,Dollars,Gallons,MPG,Avg gallon cost,Cost to go one mile (in cents)
0,Last Fillup,264.3,17.42,10.895,24.259,1.60,6.6
1,Last Month,1076.8,70.77,45.815,23.503,1.54,6.6
2,Last 3 Months,1872.2,130.30,81.274,23.036,1.60,7.0
3,Last 6 Months,3851.9,333.20,173.976,22.140,1.92,8.7
4,Last Year,8556.3,848.33,390.589,21.906,2.17,9.9
5,All Time,12933.7,1314.77,593.272,21.801,2.22,10.2