In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
%matplotlib inline
df_m = pd.read_csv('clean_m_data.csv',index_col = 0)
df_m.name = 'Moped Data'
df_c = pd.read_csv('clean_c_data.csv',index_col = 0)
df_c.name = 'Car Data'
df = pd.read_csv('clean_all_data.csv', index_col = 0)

In [5]:
df_c.tail()

,miles,dollars,gallons,date,gal_cost,mpg,tank%_used,day
24,237.2,28.28,11.317,7/30/19,2.498895,20.959618,0.835203,Tuesday
25,241.7,28.27,11.312,8/6/19,2.499116,21.366690,0.834834,Tuesday
26,277.2,28.49,11.876,8/9/19,2.398956,23.341192,0.876458,Friday
27,246.9,28.03,11.685,8/21/19,2.398802,21.129653,0.862362,Wednesday
28,241.2,26.88,11.590,8/30/19,2.319241,20.811044,0.855351,Friday

In [7]:
df_c = df_c.assign(id=('c'+df_c['date']))

In [11]:
df_c['date']

0     1/15/19
1     1/26/19
2      2/2/19
3     2/15/19
4     2/23/19
5     2/25/19
6     3/14/19
7     3/17/19
8     3/22/19
9     3/23/19
10    3/25/19
11    4/18/19
12    4/21/19
13     5/4/19
14     5/6/19
15    5/10/19
16    5/11/19
17    5/20/19
18     6/2/19
19    6/11/19
20    6/21/19
21    6/29/19
22    7/10/19
23    7/19/19
24    7/30/19
25     8/6/19
26     8/9/19
27    8/21/19
28    8/30/19
Name: date, dtype: object