In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
%matplotlib inline

ModuleNotFoundError: No module named 'pandas'

In [2]:
df_m = pd.read_csv('clean_m_data.csv',index_col = 0)
df_m.name = 'Moped Data'
df_c = pd.read_csv('clean_c_data.csv',index_col = 0)
df_c.name = 'Car Data'

In [3]:
df_m.head()

,miles,gallons,dollars,date,gal_cost,mpg,tank%_used,day,days_since_last_fillup,id
0,65.5,1.04,2.76,2018-04-19,2.653846,62.980769,0.759124,Thursday,NaN,m-19-Apr-2018-0
1,66.0,1.03,2.77,2018-05-03,2.689320,64.077670,0.751825,Thursday,14.0,m-03-May-2018-1
2,61.2,0.89,2.52,2018-05-16,2.831461,68.764045,0.649635,Wednesday,13.0,m-16-May-2018-2
3,63.0,0.94,2.39,2018-06-28,2.542553,67.021277,0.686131,Thursday,43.0,m-28-Jun-2018-3
4,69.4,0.98,2.71,2018-07-25,2.765306,70.816327,0.715328,Wednesday,27.0,m-25-Jul-2018-4

In [4]:
df_c.head()

,miles,dollars,gallons,date,gal_cost,mpg,tank%_used,day,days_since_last_fillup,id
0,253.2,21.37,11.138,2019-01-15,1.918657,22.732986,0.821993,Tuesday,NaN,c-15-Jan-2019-0
1,211.9,22.24,11.239,2019-01-26,1.978824,18.853991,0.829446,Saturday,11.0,c-26-Jan-2019-1
2,258.1,22.70,11.708,2019-02-02,1.938845,22.044756,0.864059,Saturday,7.0,c-02-Feb-2019-2
3,223.0,22.24,11.713,2019-02-15,1.898745,19.038675,0.864428,Friday,13.0,c-15-Feb-2019-3
4,229.7,23.41,11.369,2019-02-23,2.059108,20.204064,0.839041,Saturday,8.0,c-23-Feb-2019-4

In [5]:
for i in [df_m, df_c]:
    print(i.name + ':')
    print("Total miles: " + str(round(sum(i.miles), 2)) + " miles")
    print("Total spent on gas: $" + str(round(sum(i.dollars), 2 )))
    print("Total gallons pumped: " + str(round(sum(i.gallons), 2)) + " gallons")
    print("Miles per gallon: " + str(round(sum(i.miles)/sum(i.gallons), 2)))
    print("Average cost of one gallon of gas: $" + str(round(sum(i.dollars)/sum(i.gallons), 2)))
    print("Cost to go one mile: $" + str(round(sum(i.dollars)/sum(i.miles), 2)))
    print()

Moped Data:
Total miles: 1385.8 miles
Total spent on gas: $51.82
Total gallons pumped: 20.04 gallons
Miles per gallon: 69.16
Average cost of one gallon of gas: $2.59
Cost to go one mile: $0.04

Car Data:
Total miles: 7121.8 miles
Total spent on gas: $772.24
Total gallons pumped: 328.67 gallons
Miles per gallon: 21.67
Average cost of one gallon of gas: $2.35
Cost to go one mile: $0.11