In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
%matplotlib inline
df_m = pd.read_csv('moped_mpg_data.csv')
df_m.name = 'Moped Data'
df_c = pd.read_csv('car_mpg_data.csv')
df_c.name = 'Car Data'

In [2]:
# creating new column for how much a gallon of gas cost for each entry
for i in [df_m, df_c]:
    i['gal_cost'] = i.dollars / i.gallons
    i['mpg'] = i.miles / i.gallons

In [3]:
# creating a new column to determine what percent of my tank was used up when filled up
# moped tank size = 1.37 gallons
df_m['tank%_used'] = df_m['gallons'] / 1.37
# car tank size = 13.55 gallons
df_c['tank%_used'] = df_c['gallons'] / 13.55

In [4]:
df_m['date'] = pd.to_datetime(df_m['date'])
df_c['date'] = pd.to_datetime(df_c['date'])

df_m['day'] = df_m['date'].dt.dayofweek
df_c['day'] = df_c['date'].dt.dayofweek

def as_day(i):
    days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    return days[i]

df_m['day'] = df_m['day'].apply(as_day)
df_c['day'] = df_c['day'].apply(as_day)

In [5]:
df_m.head()

,miles,gallons,dollars,date,gal_cost,mpg,tank%_used,day
0,65.5,1.04,2.76,2018-04-19,2.653846,62.980769,0.759124,Thursday
1,66.0,1.03,2.77,2018-05-03,2.689320,64.077670,0.751825,Thursday
2,61.2,0.89,2.52,2018-05-16,2.831461,68.764045,0.649635,Wednesday
3,63.0,0.94,2.39,2018-06-28,2.542553,67.021277,0.686131,Thursday
4,69.4,0.98,2.71,2018-07-25,2.765306,70.816327,0.715328,Wednesday

In [6]:
df_c.head()

,miles,dollars,gallons,date,gal_cost,mpg,tank%_used,day
0,253.2,21.37,11.138,2019-01-15,1.918657,22.732986,0.821993,Tuesday
1,211.9,22.24,11.239,2019-01-26,1.978824,18.853991,0.829446,Saturday
2,258.1,22.70,11.708,2019-02-02,1.938845,22.044756,0.864059,Saturday
3,223.0,22.24,11.713,2019-02-15,1.898745,19.038675,0.864428,Friday
4,229.7,23.41,11.369,2019-02-23,2.059108,20.204064,0.839041,Saturday

In [7]:
for i in [df_m, df_c]:
    print(i.name + ':')
    print("Total miles: " + str(round(sum(i.miles), 2)) + " miles")
    print("Total spent on gas: $" + str(round(sum(i.dollars), 2 )))
    print("Total gallons pumped: " + str(round(sum(i.gallons), 2)) + " gallons")
    print("Miles per gallon: " + str(round(sum(i.miles)/sum(i.gallons), 2)))
    print("Average cost of one gallon of gas: $" + str(round(sum(i.dollars)/sum(i.gallons), 2)))
    print("Cost to go one mile: $" + str(round(sum(i.dollars)/sum(i.miles), 2)))
    print()

Moped Data:
Total miles: 1385.8 miles
Total spent on gas: $51.82
Total gallons pumped: 20.04 gallons
Miles per gallon: 69.16
Average cost of one gallon of gas: $2.59
Cost to go one mile: $0.04

Car Data:
Total miles: 6114.8 miles
Total spent on gas: $660.57
Total gallons pumped: 282.21 gallons
Miles per gallon: 21.67
Average cost of one gallon of gas: $2.34
Cost to go one mile: $0.11

In [8]:
df_c.to_csv('clean_c_data.csv')
df_m.to_csv('clean_m_data.csv')

df_m['vehicle'] = 'Moped'
df_c['vehicle'] = 'Car'

all_data = pd.concat([df_m, df_c], sort=False)
all_data = all_data.reset_index()
all_data.drop(inplace=True,axis=1,columns='index')

all_data.to_csv('clean_all_data.csv', index=True)

In [9]:
# use timestamps for something
    # type in t for total, m for month, y for year, w for week etc
# new column - days since last fill up