In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
%matplotlib inline
df_m = pd.read_csv('clean_m_data.csv', index_col = 0, parse_dates = ['date'])
df_m.name = 'Moped Data'
df_c = pd.read_csv('clean_c_data.csv', index_col = 0, parse_dates = ['date'])
df_c.name = 'Car Data'
df = pd.read_csv('clean_all_data.csv', index_col = 0, parse_dates = ['date'])

In [22]:
df_c['days_since'] = df_c.groupby('id')['date'].diff().apply(lambda x: x.days)

In [23]:
df_c[['date', 'id', 'days_since']]

         date                id  days_since
0  2019-01-15   c-15-Jan-2019-0         NaN
1  2019-01-26   c-26-Jan-2019-1         NaN
2  2019-02-02   c-02-Feb-2019-2         NaN
3  2019-02-15   c-15-Feb-2019-3         NaN
4  2019-02-23   c-23-Feb-2019-4         NaN
5  2019-02-25   c-25-Feb-2019-5         NaN
6  2019-03-14   c-14-Mar-2019-6         NaN
7  2019-03-17   c-17-Mar-2019-7         NaN
8  2019-03-22   c-22-Mar-2019-8         NaN
9  2019-03-23   c-23-Mar-2019-9         NaN
10 2019-03-25  c-25-Mar-2019-10         NaN
11 2019-04-18  c-18-Apr-2019-11         NaN
12 2019-04-21  c-21-Apr-2019-12         NaN
13 2019-05-04  c-04-May-2019-13         NaN
14 2019-05-06  c-06-May-2019-14         NaN
15 2019-05-10  c-10-May-2019-15         NaN
16 2019-05-11  c-11-May-2019-16         NaN
17 2019-05-20  c-20-May-2019-17         NaN
18 2019-06-02  c-02-Jun-2019-18         NaN
19 2019-06-11  c-11-Jun-2019-19         NaN
20 2019-06-21  c-21-Jun-2019-20         NaN
21 2019-06-29  c-29-Jun-2019-21         NaN
22 2019-07-10  c-10-Jul-2019-22         NaN
23 2019-07-19  c-19-Jul-2019-23         NaN
24 2019-07-30  c-30-Jul-2019-24         NaN
25 2019-08-06  c-06-Aug-2019-25         NaN
26 2019-08-09  c-09-Aug-2019-26         NaN
27 2019-08-21  c-21-Aug-2019-27         NaN
28 2019-08-30  c-30-Aug-2019-28         NaN