In [1]:
import pandas as pd
%matplotlib inline
m_data = pd.read_csv('moped_mpg_data.csv')
m_data.name = 'Moped Data'
c_data = pd.read_csv('car_mpg_data.csv')
c_data.name = 'Car Data'

In [2]:
# creating new column for how much a gallon of gas cost for each entry
for i in [m_data, c_data]:
    i['gal_cost'] = i.dollars / i.gallons
    i['mpg'] = i.miles / i.gallons

In [3]:
# creating a new column to determine what percent of my tank was used up when filled up
# moped tank size = 1.37 gallons
m_data['tank%_used'] = m_data['gallons'] / 1.37
# car tank size = 13.55 gallons
c_data['tank%_used'] = c_data['gallons'] / 13.55

In [4]:
m_data.head()

   miles  gallons  dollars     date  gal_cost        mpg  tank%_used
0   65.5     1.04     2.76  4/19/18  2.653846  62.980769    0.759124
1   66.0     1.03     2.77   5/3/18  2.689320  64.077670    0.751825
2   61.2     0.89     2.52  5/16/18  2.831461  68.764045    0.649635
3   63.0     0.94     2.39  6/28/18  2.542553  67.021277    0.686131
4   69.4     0.98     2.71  7/25/18  2.765306  70.816327    0.715328

In [5]:
c_data.head()

   miles  dollars  gallons     date  gal_cost        mpg  tank%_used
0  253.2    21.37   11.138  1/15/19  1.918657  22.732986    0.821993
1  211.9    22.24   11.239  1/26/19  1.978824  18.853991    0.829446
2  258.1    22.70   11.708   2/2/19  1.938845  22.044756    0.864059
3  223.0    22.24   11.713  2/15/19  1.898745  19.038675    0.864428
4  229.7    23.41   11.369  2/23/19  2.059108  20.204064    0.839041

In [6]:
for i in [m_data, c_data]:
    print(i.name + ':')
    print("Total miles: " + str(round(sum(i.miles), 2)) + " miles")
    print("Total spent on gas: $" + str(round(sum(i.dollars), 2 )))
    print("Total gallons pumped: " + str(round(sum(i.gallons), 2)) + " gallons")
    print("Miles per gallon: " + str(round(sum(i.miles)/sum(i.gallons), 2)))
    print("Average cost of one gallon of gas: $" + str(round(sum(i.dollars)/sum(i.gallons), 2)))
    print("Cost to go one mile: $" + str(round(sum(i.dollars)/sum(i.miles), 2)))
    print()

Moped Data:
Total miles: 1385.8 miles
Total spent on gas: $51.82
Total gallons pumped: 20.04 gallons
Miles per gallon: 69.16
Average cost of one gallon of gas: $2.59
Cost to go one mile: $0.04

Car Data:
Total miles: 5877.6 miles
Total spent on gas: $632.29
Total gallons pumped: 270.89 gallons
Miles per gallon: 21.7
Average cost of one gallon of gas: $2.33
Cost to go one mile: $0.11

In [7]:
# use timestamps for something
    # type in t for total, m for month, y for year, w for week etc
# moving average chart for car mpg and cost for gallon of gas
# also chart with moving average for mpg but a mark on chart gal cost